@font-face {
    font-family: 'Raleway-Light'; /*a name to be used later*/
    src: url('fonts/Raleway-Light.otf') format('opentype');
} /*URL to font*/

@font-face {
    font-family: 'Raleway-Bold'; /*a name to be used later*/
    src: url('fonts/Raleway-Bold.otf') format('opentype');
} /*URL to font*/


body {
	background-image: url('img/poolBlur.png');
	background-position: right center;
	margin: 0;
	font-family: Helvetica;
}


div.body_container {
	width: 100%;
	height: 100%;
	/*background-image: url('background.png');*/
	/*-webkit-filter: blur(10px);*/
	opacity: 1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

tr#month-header-bar {
	background-color: rgba(255,255,255,0.1);
}

div.calendar-header-container {
	width: 100%;
	display: block;
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	margin-bottom: 4%;
}

div.calendar-month-head {
	display: inline-block;
	font-family: Raleway-Bold;
	font-size: 2.4em;
	color: #0F8184;
	width: 80%;
}


div.calendar-title-container {
	width: 100%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: Raleway-Bold;
	font-size: 2.3em;
	color: #EC843D;
}


div.calendar-day-head {
	display: inline-block;
	font-size: 1em;
	width: 14.28%;
	text-align: center;
	color: #0F8184;
}

tr#day-header-bar.calendar-row {
	background-color: rgba(255,255,255,0.8);
}

table.calendar {
	width: 100%;
	font-family: Helvetica;
	color: white;
}

a.change-month-btn {
	color: white;
	font-size: 2.5em;
	text-decoration: none;
	width: 5%;
}

a.day-number {
	width: 60%;
	margin: 7px auto;
	display: block;
	padding: 20px;
	font-size: 1em;
	text-align: center;
	background-color: rgba(255,255,255,0.0);
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,0.1);
	color: white;
	text-decoration: none;
	-webkit-transition: all 0.15s ease-in-out;
}

a.day-number:hover {
	/*background-color: rgba(255,255,255,0.25);
	-webkit-transition: all 0.5s ease-in-out;*/
}

a.day-number.selected {
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgba(255,255,255,0.3);
}


td.calendar-day {
	border: 10px;
}

tr.spacer-row {
	height: 20px;
}

tr.calendar-row {
	padding: 25px;
}


a.submit_btn {
	font-family: Raleway-Light;
	font-size: 1.2em;
	letter-spacing: 0.25em;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	color: #0F8184;
	text-decoration: none;
	background-color: white;
	text-align: center;
	border-radius: 0 0 0 0;
	border-bottom: 5px rgba(200,200,200,1.0) solid;
	vertical-align: middle;
	margin-bottom: 2%;
}